/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 15, 2015, 10:10:52 PM
    Author     : Chris Bandara
*/

html, body, .container-table {
    height: 100%;
}
.login-bcolor{
    background-color: #009ee3;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
.vertical-center-row img{
    margin-bottom: 20px;
}
.login-title{
    background-color: #951b81;
    color: #fff;
    padding: 10px 0;     
}
.login-form{
    padding: 20px;
    border: solid 1px #878786;
    background: #e9e9e9;
}
.login-form button{
    background-color: #575756;
    color: #fff;
    border-color: #fff;
}
.login-form button:hover{
    background-color: #575756;
    color: #fff;
}
.login-form .err{
    color: red;
    margin-bottom: 10px;
}
.login-form .sux{
    color: green;
    margin-bottom: 10px;
}
/*Tempory CSS classes for dashboards*/
.dash{
    background-color: #292c3d;
    min-height: 50px;
    color: #fff;
    padding: 15px 0 0;
    margin-bottom: 15px;
}

.mgr_dash{
    background-color: #8C2B3D;
    min-height: 50px;
    color: #fff;
    padding: 30px 0 0;
    margin-bottom: 15px;
}

input[type="email"]{
    text-transform: lowercase;
}

.center-table
{
    margin: 0 auto !important;
    float: none !important;
}
.db-row{

}
.btn-space{
    margin-right: 10px;
}
input[type='radio'], input[type='checkbox'] {
    height: 12px !important;
    margin-right: 10px !important;
}
.im-centered { margin: auto;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
/*End Tempory CSS classes*/

/*Dashboards styles*/
.circleBase{
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    padding-top: 28px;
    margin-bottom: 25px;
}
.type1 {
    width: 110px;
    height: 110px;
    background: #009ee3; //#009393;
}
.type2 {
    width: 110px;
    height: 110px;
    background: #951b81;
}
.type3 {
    width: 100px;
    height: 100px;
    padding-top: 35px;
    background: #951b81;//#e84e1b
}
@media screen and (max-width: 600px) {
    .type3{
        width: 70px;
        height: 70px;
        padding-top: 25px;
        font-size: 14px;
    }
}
.type-points {
    width: 50px;
    height: 50px;
    background: #951b81;//#e84e1b
    padding-top: 14px !important;
    font-size: 14px;
    color: #fff;
    margin: 10px;
    padding: 15px 10px 0 10px !important;
    border-bottom-right-radius: 25px !important;
}
#msg {
    margin-top: 55px;
}
.col-md-12{
    padding: 0;
}
.dash-title{
    text-transform: uppercase;
    margin-bottom: 10px;
}
.wid-1 .txt{
    padding-top: 23px;
}

.three-widgets{
    margin-left: 1px;
    margin-right: 1px;
}


.wid-1 img{
    width: 50px;
    height: 50px;
    padding: 0;
    margin-bottom: 0;
}
.wd-1 .table > tbody > tr > td{
    vertical-align: baseline;
    border-top: 1px solid #ddd !important;
}
.wd-1 .table > tbody > tr:first-child > td{
    border-top: 0;
}
.wd-1 hr{
    margin: 0;
}
.panel .alert-info{
    margin-top: 18px !important;
}
#sa-top{
    padding-top: 14px !important;
}
#page-title{
    margin-top: 26px;
    color: #FFFFFF;
    font-size: 16px;
}
.dash-title{
    margin-bottom: 30px;
    width: 100%;
}
.centered > div {
    float: none;
    display: inline-block;
    margin-bottom: 6px;
}
.centered-inline > div {
    float: none;
    display: inline;
    margin: 2%;
}
.centered-inline > div:nth-child(2){
    padding-right: 30px;
}
@media (max-width: 600px) {
    .centered-inline > div {
        font-size: 10px;
        font-weight: bold;
        margin: 0px;
    }
    .col-xs-offset-1 {
        margin-left: 14.3333%
    }
    .centered-inline > div:nth-child(2){
        padding-right: 10px;
    }
}
@media (min-width: 600px) and (max-width: 768px){
    .centered-inline > div {
        margin: -4px;
    }
    .centered-inline > div:nth-child(2){
        padding-right: 20px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .centered-inline > div {
        margin: 1%;
    }
    .centered-inline > div:nth-child(2){
        padding-right: 25px;
    }
}
/*End of dashboards styles*/
/*nav bar styles*/
@media (max-width: 2000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
.navbar-inverse{
    background-color: #009ee3;//#292C3D
    border-color: #009ee3 !important;//#292C3D
}
@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}
/*end of nav bar styles*/
/*Kids dashboard styles*/
.kids-wrapper{
    background: url('/KidsCoin/images/students-dashboard-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#three-baloons{
    font-family: 'Covered By Your Grace', cursive;
    font-size: 24px;
}

@media (min-width: 768px){
    #three-baloons img{
        position: fixed;
        bottom: 10.3%;
        width: 25%;
        padding: 10px;
    } 
    #three-baloons #baloon-1 img{
        bottom: 11%;
    }
    #three-baloons #baloon-2 img{
        bottom: 10.5%;
    }
    #three-baloons #baloon-3 img{
        bottom: 10.3%;
    }
}

@media (min-width: 768px) and (max-width: 1024px){
    #three-baloons img{
        position: fixed;
        width: 25%;
        padding-right: 20px;
        margin-left: 100px;
/*        bottom: 10.3%;
        width: 25%;
        padding: 10px;*/
    } 
    #three-baloons #baloon-1 img{
        bottom: 15%;
    }
    #three-baloons #baloon-2 img{
        bottom: 14.5%;
        
    }
    #three-baloons #baloon-3 img{
        bottom: 15%;
    }
}


/*@media (min-width: 768px){
    #three-baloons #baloon-2 img{
        width: 70%;
        padding-top: 125px;
    }

    #three-baloons #baloon-3 img{
        max-width: 150%;
        padding-top: 35px;
    }
}
@media (max-width: 768px){
    #three-baloons img{
        width: 70%;
    }
}

#three-baloons #baloon-3 .col-sm-12{
    padding-left: 60px;
}*/
#view-test .panel-default > .panel-heading{
    color: #FFF;
    background-color: #951b81;
}

.panel-title span img{
    position: relative;
    top: 1px;
    display: inline-block;
    max-height: 64px;
    max-width: 64px;
    /*    line-height: 1;
        max-height: 24px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;*/
}
/*Edited bootstrap styles*/
.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}
.navbar-brand > img{
    display: inline;
    max-width: 120px;
}
.navbar{
    min-height: 80px;
}
.navbar-toggle{
    padding: 22px 10px;
}
